body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #34495e;
  opacity: 1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}

.nav span {
  display: block;
  padding-left: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #bdc3c7;
}

.nav .close {
  position: absolute;
  top: 26px;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
  color: #bdc3c7;
}

.slide a {
  color: #000;
  font-size: 48px;
  padding: 20px;
}

#wrapper {
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 100%;
}

/* Remove bullets from the LI tag */
li {
  list-style-type: none;
  padding-left: 10px;
  padding-top: 10px;
}

#message-form {
  width: 600px;
  position: relative;
  left: calc(50% - 300px);
  margin-top: 15px;
  overflow-y: scroll;
}

#display-messages {
  top: -20px;
  color: black;
  border: 2px solid darkgray;
  border-radius: 5px;
  height: 80vh;
  width: 60vw;
  position: relative;
  left: calc(50% - 30vw);
}


