.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #34495e;
  opacity: 1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}

.nav span {
  display: block;
  padding-left: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #bdc3c7;
}

.nav .close {
  position: absolute;
  top: 26px;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
  color: #bdc3c7;
}

.slide a {
  color: #000;
  font-size: 48px;
  padding: 20px;
}