<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="../css/material-icons.min.css">
  </head>
  <body>
  <!-- sidebar -->
  <!-- Create the menu toggle icon -->
  <span class="slide">
    <a href="#" onclick="openMenu()">
      <i class="mdi mdi-menu"></i>
    </a>
  </span>

  <div id="menu" class="nav">
    <a href="#" class="close" onclick="closeMenu()">
      <i class="mdi mdi-close"></i>
    </a>
  </div>
  <script src="../js/main.js"></script>
  </body>
</html>
